## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
#!pip install gmaps
#!pip install ipywidgets
#!pip install widgetsnbextension

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,3,Jamestown,US,78.85,42.0970,-79.2353,Hampton Inn & Suites Jamestown
1,5,Yellowknife,CA,75.29,62.4560,-114.3525,The Explorer Hotel
2,6,Tiarei,PF,86.02,-17.5333,-149.3333,Le Rocher de Tahiti
3,8,Sur,OM,89.40,22.5667,59.5289,Sur Plaza Hotel
4,9,Hasaki,JP,75.60,35.7333,140.8333,Hotel Sunrise Choshi

In [4]:
vacation_df[vacation_df['Country']=='US']

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,3,Jamestown,US,78.85,42.0970,-79.2353,Hampton Inn & Suites Jamestown
9,35,Freeport,US,82.65,40.6576,-73.5832,The Freeport Inn and Marina
13,44,Kapaa,US,84.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
24,74,Hilo,US,81.63,19.7297,-155.0900,Hilo Hawaiian Hotel
27,79,Lincoln,US,86.09,40.8000,-96.6670,Courtyard by Marriott Lincoln Downtown/Haymarket
35,113,Half Moon Bay,US,87.75,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
38,118,Russell,US,79.83,32.3502,-85.1999,Macs
57,185,Marshfield,US,78.75,44.6689,-90.1718,"Holiday Inn Conference Ctr Marshfield, an IHG ..."
60,188,College,US,79.00,64.8569,-147.8028,Pike's Waterfront Lodge
62,190,Fairbanks,US,80.60,64.8378,-147.7164,Westmark Fairbanks Hotel & Conference Center
70,215,Roma,US,78.39,43.2128,-75.4557,Wingate By Wyndham Rome
72,217,Bethel,US,77.99,41.3712,-73.4140,Courtyard by Marriott Danbury
77,230,Spartanburg,US,88.68,34.9496,-81.9321,Spartanburg Marriott
79,235,Houma,US,86.02,29.5958,-90.7195,Courtyard by Marriott Houma
92,265,Broome,US,79.86,42.2506,-75.8330,Chenango Valley State Park
95,272,North Bend,US,75.24,43.4065,-124.2243,Red Lion Hotel Coos Bay
97,280,Port Jervis,US,84.15,41.3751,-74.6927,Hampton Inn Matamoras/Milford
101,292,Makakilo City,US,84.52,21.3469,-158.0858,Marriott's Ko Olina Beach Club
102,294,Brewster,US,78.91,41.3973,-73.6171,Heidi's Inn
106,307,Kahului,US,86.02,20.8947,-156.4700,Maui Seaside Hotel
107,311,Wilmington,US,88.99,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection ..."
136,386,Mount Vernon,US,82.29,40.9126,-73.8371,Ramada by Wyndham Bronx
138,389,Ascension,US,86.09,30.2169,-90.9001,Highland Inn
141,412,Cape Canaveral,US,86.07,28.4058,-80.6048,Residence Inn by Marriott Cape Canaveral Cocoa...
146,421,Hamilton,US,85.98,39.1834,-84.5333,Six Acres Bed & Breakfast
160,466,Bud,US,84.22,39.4470,-86.1758,Ted McQuinn Trust
166,477,Ormond Beach,US,86.09,29.2858,-81.0559,Makai Beach Lodge
171,487,Gillette,US,84.24,44.2911,-105.5022,National 9 Inn - Gillette WY
172,488,Marinette,US,81.30,45.1000,-87.6307,AmericInn by Wyndham Menominee
177,513,Rolla,US,77.14,37.9514,-91.7713,Holiday Inn Express & Suites Rolla - Univ of M...
181,526,Lawrenceburg,US,83.12,38.0373,-84.8966,Best Western Lawrenceburg Inn
182,528,Brenham,US,82.89,30.1669,-96.3977,Hampton Inn & Suites Brenham
201,593,Riviera Beach,US,83.07,26.7753,-80.0581,Marriott's Ocean Pointe
206,602,Saint Anthony,US,85.71,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
208,605,Oneida,US,78.44,43.2001,-75.4663,Wingate By Wyndham Rome
223,643,Levelland,US,85.19,33.5873,-102.3780,"Holiday Inn Express & Suites Levelland, an IHG..."

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
vacation_df.loc[vacation_df['City'] == 'Jamestown']

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,3,Jamestown,US,78.85,42.097,-79.2353,Hampton Inn & Suites Jamestown

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Jamestown']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Jamestown']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Freeport']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Kapaa'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Brewster']

In [9]:
vacation_end['Lat'].to_numpy()[0]

42.097

In [10]:
vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]

(42.097, -79.2353)

In [11]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]  
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0] 
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0] 
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0] 
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [12]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,3,Jamestown,US,78.85,42.0970,-79.2353,Hampton Inn & Suites Jamestown
1,35,Freeport,US,82.65,40.6576,-73.5832,The Freeport Inn and Marina
2,44,Kapaa,US,84.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,294,Brewster,US,78.91,41.3973,-73.6171,Heidi's Inn

In [14]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))